body
{
	padding: 0;
	margin: 0px 0px;
	overflow: hidden;	
	font-family: 'Roboto', sans-serif;
}


.panel
{
	width: 495px;
	height: 70px;
	background: url("panel.png") no-repeat;
	overflow: hidden;
}

.name
{
	float:left;
	padding-right: 20px;
	text-align: right;
	font-size: 36px;
	line-height: 59px;
	width: 340px;
	height: 59px;
	color: #333b;
}
.score
{
	float:left;
	color: #fffd;
	text-align: center;
	font-size: 48px;
	line-height: 59px;
	width: 135px;
}
